{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="wrapper">
        <div class="sidebar" data-color="purple" data-image="../assets/img/sidebar-1.jpg">
           {% include "partials/navbar.html" %}
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header" data-background-color="purple">
                                    <h4 class="title">Leaderboard</h4>
                                    <p class="category">See where you stand</p>
                                </div>
                                <select id="agent_select">
                                    <option value="all" selected>All</option>
                                    {% for agent in agents %}
                                    {{agent}}
                                    <option value="{{agent}}">{{agent}}</option>
                                    {% endfor %}
                                </select>
                                <select id="date_select">
                                    <option value="all" selected>All</option>
                                    {% for dt in dates %}
                                    <option value="{{dt}}">{{dt}}</option>
                                    {% endfor %}
                                </select>
                                </select>
                                <select id="mode_select">
                                    <option value="all" selected>All</option>
                                    <option value="cash">Cash</option>
                                    <option value="paytm">Paytm</option>
                                </select>
                                <button id="clear" style="display:none;" type="button">Clear</button>
                                <div class="card-content table-responsive">
                                    <table class="table table">
                                        <thead class="text-primary">
                                            <th>Date</th>
                                            <th>Name</th>
                                            <th>Event</th>
                                            <th>Mode of Payment</th>
                                            <th>Amount</th>
                                        </thead>
                                        <tbody>
                                            {% for reg in registrations %}
                                            <tr class="abc" data-name="{{reg.agent.first_name}}" data-date="{{reg.date_created}}" data-mode="{{reg.payment}}" data-price="{{reg.event.price}}">
                                                <td>{{reg.date_created}}</td>
                                                <td><span style="text-transform:capitalize;">{{reg.agent.first_name}}</span></td>
                                                <td>{{reg.event.name}}</td>
                                                <td>{{reg.payment}}</td>
                                                <td>{{reg.event.price}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <div id="sum"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    // <script>
    // $(function() {

    //     total_count();
    //     $('#mode_select').change(function() {
    //         mode = 0;
    //         j = 0;
    //         var value = $(this).val();
    //         $('#clear').show();
    //         if(value == "all") {
    //             $('.table > tbody > tr').show();
    //             total_count();
    //         }
    //         else {
    //             $('tr').each(function() {
    //                 if(j > 0) {
    //                     if($(this).attr('data-mode') != value) {
    //                         $(this).hide();
    //                         $(this).removeClass('abc');
    //                         $(this).addClass('hide');
    //                     }
    //                 }
    //                 j++;
    //             })
    //         }
    //         total_count();
    //     })
    //     $('#agent_select').change(function() {
    //         agent = 0;
    //         k = 0;
    //         var value = $(this).val();
    //         $('#clear').show();
    //         if(value == "all") {
    //             $('.table > tbody > tr').show();
    //             total_count();
    //         }
    //         else {
    //             $('tr').each(function() {
    //                 if(k > 0) {
    //                     if($(this).attr('data-name') != value) {
    //                         $(this).hide();
    //                         $(this).removeClass('abc');
    //                         $(this).addClass('hide');
    //                     }
    //                 }
    //                 k++;
    //             })
    //             total_count();
    //         }
    //     })
    //     $('#date_select').change(function() {
    //         date = 0;
    //         l = 0;
    //         var value = $(this).val();
    //         $('#clear').show();
    //         if(value == "all") {
    //             $('.table > tbody > tr').show();
    //             total_count();
    //         }
    //         else {
    //             $('tr').each(function() {
    //                 if(l > 0) {
    //                     if($(this).attr('data-date') != value) {
    //                         $(this).hide();
    //                         $(this).removeClass('abc');
    //                         $(this).addClass('hide');
    //                     }
    //                 }
    //                 l++;
    //             })
    //             total_count();
    //         }
    //     })
    //     $('#clear').click(function() {
    //         var sum = 0;
    //         $('#mode_select').val('all')
    //         $('#agent_select').val('all')
    //         $('#date_select').val('all')
    //         $('.table > tbody > tr').show();
    //         $('.table > tbody > tr').addClass('abc');
    //         $(this).hide();
    //         total_count();
    //     })
    // })
    // </script>
    // <script>
    // function total_count() {
    //     var i = 0;
    //     var total = 0;
    //     $('.abc').each(function() {
    //         total += parseFloat($(this).attr('data-price'));
    //         $('#sum').html(total)
    //         i++;
    //     })
    // }
    // </script>
{% endblock %}