{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="wrapper">
    <div class="sidebar" data-color="purple" data-image="../assets/img/sidebar-1.jpg">
        {% include "partials/navbar.html" %}
            <div class="content">
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-header" data-background-color="purple">
                            <h4 class="title">Events</h4>
                            <p class="category"></p>
                        </div>
                        <div class="card-content">
                            <div class="row">
                                {% for event in event_list %}
                                <div class="col-md-6">
                                    <a href="#" onclick="showDiv({{forloop.counter}});"><div class="alert alert-info">
                                        <span>{{event.name}}</span><span id="hide_{{forloop.counter}}" style="float:right;">Click for details</span>
                                        <div id="show_{{forloop.counter}}" style="display:none">{{event.description}}</div>
                                    </div></a>
                                </div>
                                {% endfor %}
                            </div>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    function showDiv(number) {
        $('#show_'+number).slideToggle();
        $('#hide_'+number).slideToggle();
    }
    </script>
{% endblock content %}