{% load staticfiles %}
{% load widget_tweaks %}

<!DOCTYPE html>

 <head>
    <title>{% block title %}Utsaha Marketing{% endblock %}</title>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="//www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="//fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Merriweather+Sans" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/material-dashboard.css' %}" rel="stylesheet" />
    <link href="{% static 'css/demo.css' %}" rel="stylesheet" />
    {% block head %}
    {% endblock %}
</head>

<body>
    {% block content %}
    {% endblock %}
    <script src="{% static "js/bootstrap.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/material.min.js" %}" type="text/javascript"></script> 
    <script src="{% static "js/chartist.min.js" %}"></script>
    <script src="{% static "js/arrive.min.js" %}"></script>
    <script src="{% static "js/perfect-scrollbar.jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap-notify.js" %}"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <script src="{% static "js/material-dashboard.js" %}"></script>
    <script src="{% static "js/demo.js" %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {

            // Javascript method's body can be found in assets/js/demos.js
            demo.initDashboardPageCharts();

        });
    </script>
    <script>
    $(function() {
        $('#drop-btn').click(function() {
            if($(this).attr('aria-expanded') == 'false'){
                $('#drop-div').addClass('open')
                $(this).attr('aria-expanded', 'true')
            }
            else {
                $('#drop-div').removeClass('open')
                $(this).attr('aria-expanded', 'false')
            }
        })
    })
    </script>
</body>    
